.AddToCart{
    height: 100%;
}

.No-results{
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.No-results p{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 300;
}

.Detail-container{
    background-color: #ffffff;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 60px 0;
    min-height: 560px;
    gap: 30px;
}

.Detail-container .img-product {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Detail-container .img-product img {
    width: 100%;
    /* height: 80%; */
    border-radius: 20px;
}

.img-product {
    position: relative;
    z-index: 1;
}

.Detail-product {
    position: relative;
    z-index: 0;
}


.Detail-container .Detail-product {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* gap: 30px; */
}

.Detail-product .Details {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #eaf5ff;
    padding: 30px 23px;
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
}

.Details h5 {
    font-size: 60px;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    text-align: center;
    color: #8cafaf;

}

.Details p {
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}

.Details span {
    font-weight: 500;
    color: #82a3ce;
    text-align: center;
    padding-bottom: 10px;
}

.Details h4 {
    font-weight: 600;
    color: #2f2f2f;
    margin: 10px 0 20px 0;
    text-align: center;
}

.Details .out-of-stock {
    display: flex;
    justify-content: center;
    color: #c90b1e;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 20px 0;
    /* position: absolute; */
    top: 0;
    left: 5px;
    background-color: #ff22363d;
    padding: 4px 5px 4px 5px;
    border-radius: 5px;
    width: 30%;
}

.Details button {
    height: 40px;
    margin-bottom: 10px;
    color: rgb(96, 96, 96);
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    transition: ease-in 0.3s;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 70%;
    font-size: 12px;
    outline: none;
}

.Details button.AddToCart-Item:hover {
    background-color: black;
    color: #ffff;
}

.Details button.disabled-link{
    color: #aeaeae;
}

.Details button.Whatsapp-Button:hover {
    background-color: #00bb2d;
    color: #ffff;
}


.AddToCart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

.subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

.subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 15px;
}

@media (max-width: 600px) {
    .page-header {
        width: 100%;
        height: 200px;
    }

    .No-results{
        height: 95vh;
    }

    .No-results p{
        font-size: 28px;
    }

    .AddToCart .section-p1 {
        padding: 0;
        width: 100%;
        /* min-height: 400px; */
    }

    .AddToCart .section-p1 .Detail-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .Detail-container{
        margin-top: 90px;
        padding-top: 50px;
        flex-direction: column;
        gap: 0;
    }

    .Detail-container .img-product{
        width: 100%;
    }

    .Detail-container .img-product img {
        width: 100%;
    }

    .Detail-container .Detail-product {
        width: 100%;
        justify-content: center;

    }

    .Detail-product .Details {
        width: 90%;
        align-items: center;
        padding: 30px 0;
    }

    .Details h5 {
        font-size: 26px;
        text-align: center;
        font-weight: 700;
        margin: 0;
    }

    .Details h4 {
        text-align: center;
        margin: 10px 0 20px 0;
        font-size: 19px;
        font-weight: 600;
        /* color: #088178; */
    }

    .Details p {
margin: 16px 30px 16px 30px;
text-align: center;
font-size: 14px;    }

    .Details span {
        margin: 5px;
    }

    .Details button {
        font-size: 13px;
        width: 80%;
    }

    .Details .out-of-stock{
        color: #fc0e25;
    font-size: 14px;
    margin: 0 0 20px 0;
    background-color: #ff22363d;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    width: 63px;
        font-weight: 700;
    }
}

@media (min-width: 601px) and (max-width: 900px)  {
    .Detail-container{
        flex-direction: column;
    }

    .Detail-container .img-product{
        width: 100%;
    }

    .Detail-container .img-product img{
        width: 100%;
    }

    .Detail-container .Detail-product{
        width: 85%;
        justify-content: center;
    }

    .Detail-product .Details{
        width: 88%;
        justify-content: center;
        align-items: center;
        padding: 55px 23px;
    }

    .Details h4{
        font-size: 27px;
    }

    .Details h5{
        margin: 20px 0;
        text-align: center;
        font-size: 47px;
    }

    .Details button{
        width: 60%;
    }

    .Details p {
        text-align: center;
    }
    .Details .out-of-stock{
        width: 28%;
        text-transform: uppercase;
        font-size: 13px;
    }
}